<%= form_for(@suspect) do |f| %>
  <% if @suspect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suspect.errors.count, "error") %> prohibited this suspect from being saved:</h2>

      <ul>
      <% @suspect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
